h2[data-set="left-anime"],
div[data-set="left-anime"] {
  transform: translateX(-60px);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  visibility: hidden;
}

div[data-set="right-anime"] {
  transform: translateX(60px);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  visibility: hidden;
}
