.menuContainer {
  display: flex;
  gap: 30px;
}
@media (min-width: 800px) {
  .menuContainer {
    display: none;
  }
}
.menuButtonWrapper {
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuHamburguerButton {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: var(--color-contrast);
}

.menuHamburguerButton::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  top: 10px;
  background-color: var(--color-contrast);
  transition: 0.3s;
}

.menuHamburguerButton::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  bottom: 10px;
  background-color: var(--color-contrast);
  transition: 0.3s;
}

.menuHamburguerButton.btnActive {
  background-color: transparent;
}

.menuHamburguerButton.btnActive::after {
  top: 0;
  transform: rotate(45deg);
}

.menuHamburguerButton.btnActive::before {
  bottom: 0;
  transform: rotate(135deg);
}

.menuWrapper {
  position: fixed;
  top: 80px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}

.menuWrapper.menuActive {
  opacity: 1;
  visibility: inherit;
}

.menuWrapper nav {
  background-color: var(--text-color-1);
  max-width: max-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  padding: 20px 40px;
  opacity: 0;
  transition: 0.6s;
}

.menuWrapper.menuActive nav {
  transform: translateX(0);
  opacity: 1;
}

.menuWrapper a {
  margin: 0 auto;
  text-align: center;
  border: none;
  background-color: var(--color-contrast);
  width: 150px;
  margin-bottom: 30px;
  border-radius: 30px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 30px;
  color: var(--color-bg);
  cursor: pointer;
}
